.sc-bg-blue{
  background-color: #2d3d4f;
}

.sc-bg-green{
  background-color: #04bb9f;
}

.sc-py-50{
  padding: 40px 0;
}

.sc-container-60{
  width: 60%;
  margin: 0 auto;
}

header{
  height: 80px;
  color: white;
}

.sc-jambotron{
  margin-top: 80px;
}

.sc-inner-jumbo{
  background-color: red;
  width: 800px;
  max-width: 80%;
  margin: 0 auto;
  /* TOGLIERE ALTEZZA */
  /* height: 300px; */
}

.sc-box{
  margin: 10px;
  /* TOGLIERE ALTEZZA */
  height: 300px;
  background-color: blue;
}

.about{
  color: white;
}

form{
  padding-top: 30px;
}

.dt-custom-border{
  border: none;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
}

.dt-bg-green{
  background-color: #1ABC9C;
  border-color: #1ABC9C;
}

footer{
  color: white;
}

.sc-footer-top{
  color: white;
  background-color: #3a536b;
}

.sc-footer-bottom{
  padding: 30px 0;
  text-align: center;
}