/* GLOBAL */
.sc-bg-blue{
  background-color: #2d3d4f;
}

.sc-bg-green{
  background-color: #04bb9f;
}

.sc-py-50{
  padding: 40px 0;
}

.sc-container-60{
  width: 60%;
  margin: 0 auto;
}

.sc-container-800{
  width: 800px;
  margin: 0 auto;
  max-width: 80%;
}

h2{
  font-weight: 600;
}

.little-frame{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.little-frame .bar-frame{
  width: 15%;
  height: 2px;
  background-color: white;
  border-radius: 10px;
}

.bar-frame.black{
  background-color: black;
}

.little-frame i{
  font-size: 25px;
  margin: 0 20px;
}

/* //GLOBAL */

/* HEADER */
header{
  height: 80px;
  color: white;
  line-height: 80px;
}

header h3{
  line-height: 80px;
  font-weight: bold;
}

.small-nav-hamb i{
  color: #8f8e8c;
  font-size: 20px;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 1s;
}

.small-nav-hamb:hover i{
  background-color: white;
}

ul li{
  list-style: none;
  display: inline-block;
  padding-right: 25px;
}

ul li a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}

ul li a:hover{
  color: white;
}
/* //HEADER */

/* JUMBOTRON */
.sc-jambotron{
  margin-top: 80px;
}

.sc-inner-jumbo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.sc-inner-jumbo img{
  width: 300px;
  margin: 0 auto;
}

.sc-inner-jumbo h1{
  font-size: 50px;
  font-weight: 600;
}

.cornice{
  margin-bottom: 10px;
}

.sc-inner-jumbo p{
  font-size: 20px;
}
/* //JUMBOTRON */
  
/* PORTFOLIO */
.sc-box{
  margin: 10px auto;
  position: relative;
}

.overley-img{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.sc-box:hover .overley-img{
  background-color: rgba(35, 203, 167, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overley-img i{
  color: white;
  font-size: 65px;
}

.sc-box img{
  width: 100%;
  border-radius: 15px;
}
/* //PORTFOLIO */

/* ABOUT */
.about{
  color: white;
}

.about .text-center h2{
  padding: 40px 0 10px 0;
}

.button-about{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 50px 0;
}

.sc-btn-customize{
  color: white;
  border: 1px solid white;
  transition: background-color 1.3s, color 1.3s;
}

.sc-btn-customize:hover{
  background-color: white;
  color: black;
}

.about p{
  font-size: 18px;
  font-weight: 500;
}

.sc-btn-customize i{
  margin-right: 5px;
}
/* //ABOUT */

/* FORM */
.dt-custom-border{
  border: none;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
}

.dt-bg-green{
  background-color: #1ABC9C;
  border-color: #1ABC9C;
}
/* //FORM */

/* FOOTER */
footer{
  color: white;
}

.sc-footer-top{
  color: white;
  background-color: #3a536b;
}

.sc-footer-top p{
  font-size: 15px;
}

.sc-footer-top p span{
  color: #1ABC9C;
}

.icon-footer i{
  margin: 10px;
  padding: 16px;
  font-size: 13-5px;
  border: 1px solid white;
  border-radius: 50%;
}

.icon-footer i:first-child{
  padding: 16px 20px;
}

.icon-footer i:last-child{
  padding: 16px 18px;
}

.sc-footer-bottom{
  padding: 30px 0;
  text-align: center;
  font-size: 12px;
}

.sc-footer-bottom i{
  font-size: 10px;
}

/* //FORM */